In [226]:
# pandas 라이브러리를 Import하기
import pandas as pd

In [227]:
# 데이터 파일을 읽어오기
rock_sample = pd.read_csv('rocksamples.csv')

In [228]:
# 데이터프레임 처음과 마지막 5개행 확인하기
rock_sample.head()
# rock_sample[-5:]
rock_sample.tail()

         ID   Mission     Type   Subtype  Weight (g)  Pristine (%)
2224  79528  Apollo17  Breccia  Regolith        2.38         100.0
2225  79529  Apollo17  Breccia  Regolith        1.84         100.0
2226  79535  Apollo17  Breccia  Regolith        1.69         100.0
2227  79536  Apollo17  Breccia  Regolith        1.66         100.0
2228  79537  Apollo17  Breccia  Regolith        1.05         100.0

In [229]:
#rock_sample 데이터프레임 정보 확인하기
rock_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2229 entries, 0 to 2228
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            2229 non-null   int64
 1   Mission       2229 non-null   object
 2   Type          2229 non-null   object
 3   Subtype       2226 non-null   object
 4   Weight (g)    2229 non-null   float64
 5   Pristine (%)  2229 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 104.6+ KB

In [230]:
#rock_sample 데이터프레임 행수 확인
rock_sample.shape[0]

2229

In [231]:
#rock_sample 데이터 프레임의 인덱스 확인
rock_sample.index

RangeIndex(start=0, stop=2229, step=1)

In [232]:
#rock_sample 데이터프레임 열수 확인
rock_sample.shape[1]

6

In [233]:
#rock_sample 데이터프레임의 모양 확인
rock_sample.shape

(2229, 6)

In [234]:
#rock_sample 데이터프레임의 컬럼명 확인
rock_sample.columns

Index(['ID', 'Mission', 'Type', 'Subtype', 'Weight (g)', 'Pristine (%)'], dtype='object')

In [235]:
#rock_sample 데이터프레임 컬럼들의 데이터타입 확인
rock_sample.dtypes

ID                int64
Mission          object
Type             object
Subtype          object
Weight (g)      float64
Pristine (%)    float64
dtype: object

In [236]:
# rock_sample 데이터프레임 수치 데이터의 요약 통계 확인
rock_sample.describe()

                 ID    Weight (g)  Pristine (%)
count   2229.000000   2229.000000   2229.000000
mean   52058.432032    168.253024     84.512764
std    26207.651471    637.286458     22.057299
min    10001.000000      0.000000      0.000000
25%    15437.000000      3.000000     80.010000
50%    65527.000000     10.200000     92.300000
75%    72142.000000     93.490000     98.140000
max    79537.000000  11729.000000    180.000000

In [237]:
rock_sample[rock_sample['Pristine (%)'] >= 100]

         ID   Mission     Type     Subtype  Weight (g)  Pristine (%)
50    10070  Apollo11  Breccia    Regolith       60.16        112.50
82    12016  Apollo12   Basalt    Ilmenite     2028.00        100.08
91    12025  Apollo12     Core    Unsieved       56.10        163.41
123   12060  Apollo12     Soil    Unsieved       20.70        107.11
140   14007  Apollo14  Breccia  Fragmental        3.67        100.00
...     ...       ...      ...         ...         ...           ...
2224  79528  Apollo17  Breccia    Regolith        2.38        100.00
2225  79529  Apollo17  Breccia    Regolith        1.84        100.00
2226  79535  Apollo17  Breccia    Regolith        1.69        100.00
2227  79536  Apollo17  Breccia    Regolith        1.66        100.00
2228  79537  Apollo17  Breccia    Regolith        1.05        100.00

[361 rows x 6 columns]

## 각 컬럼별 누락값 검사

In [238]:
# 1단계 -> rock_sample 데이터프레임에 null값이 있는지 확인
rock_sample.isnull()

         ID  Mission   Type  Subtype  Weight (g)  Pristine (%)
0     False    False  False    False       False         False
1     False    False  False    False       False         False
2     False    False  False    False       False         False
3     False    False  False    False       False         False
4     False    False  False    False       False         False
...     ...      ...    ...      ...         ...           ...
2224  False    False  False    False       False         False
2225  False    False  False    False       False         False
2226  False    False  False    False       False         False
2227  False    False  False    False       False         False
2228  False    False  False    False       False         False

[2229 rows x 6 columns]

In [239]:
#결측치 갯수 확인인. false:0, True:1
rock_sample.isnull().sum()

ID              0
Mission         0
Type            0
Subtype         3
Weight (g)      0
Pristine (%)    0
dtype: int64

## 컬럼값 변환 : weight(g) -> weight(kg)

In [240]:
rock_sample.head(2)

      ID   Mission  Type   Subtype  Weight (g)  Pristine (%)
0  10001  Apollo11  Soil  Unsieved       125.8         88.36
1  10002  Apollo11  Soil  Unsieved      5629.0         93.73

In [241]:
rock_sample['Weight (g)']

0        125.80
1       5629.00
2        213.00
3         44.80
4         53.40
         ...
2224       2.38
2225       1.84
2226       1.69
2227       1.66
2228       1.05
Name: Weight (g), Length: 2229, dtype: float64

In [242]:
# 1단계 -> 컬럼값변환 : rock_sample['Weight (g)'] -> rock_sample['Weight (kg)]
rock_sample['Weight (g)'] = rock_sample['Weight (g)'].apply(lambda x: x *0.001)

In [243]:
rock_sample.head()

      ID   Mission    Type   Subtype  Weight (g)  Pristine (%)
0  10001  Apollo11    Soil  Unsieved      0.1258         88.36
1  10002  Apollo11    Soil  Unsieved      5.6290         93.73
2  10003  Apollo11  Basalt  Ilmenite      0.2130         65.56
3  10004  Apollo11    Core  Unsieved      0.0448         71.76
4  10005  Apollo11    Core  Unsieved      0.0534         40.31

In [244]:
#2단계 -> 컬럼명 변환 : 'Weight(g)' -> 'Weight(kg)
rock_sample.rename(columns={'Weight (g)' : 'Weight (kg)'}, inplace=True)

In [245]:
rock_sample.head()

      ID   Mission    Type   Subtype  Weight (kg)  Pristine (%)
0  10001  Apollo11    Soil  Unsieved       0.1258         88.36
1  10002  Apollo11    Soil  Unsieved       5.6290         93.73
2  10003  Apollo11  Basalt  Ilmenite       0.2130         65.56
3  10004  Apollo11    Core  Unsieved       0.0448         71.76
4  10005  Apollo11    Core  Unsieved       0.0534         40.31

## 아폴로 임무별 데이터 프레임 만들기 : missions

In [246]:
rock_sample['Mission'].value_counts()

Mission
Apollo16    767
Apollo17    756
Apollo15    364
Apollo14    207
Apollo12     68
Apollo11     67
Name: count, dtype: int64

In [247]:
# 빈 데이터 프레임을 만들고 변수 missions에 할당한다.
# missions = pd.DataFrame(rock_sample['Mission'].unique(), columns=['Mission'])
missions = pd.DataFrame()

In [248]:
type(missions)

pandas.core.frame.DataFrame

In [249]:
#rock_sample['Mission']의 중복되지 않은 고유값들을 알아본다.
rock_sample['Mission'].unique()

array(['Apollo11', 'Apollo12', 'Apollo14', 'Apollo15', 'Apollo16',
       'Apollo17'], dtype=object)

In [250]:
#위의 값들을 mission 데이터프레임의 새로운 컬럼인 mission['Mission']에 할당한다.
missions['Mission'] = rock_sample['Mission'].unique()
missions

    Mission
0  Apollo11
1  Apollo12
2  Apollo14
3  Apollo15
4  Apollo16
5  Apollo17

#### 아폴로 임무별 샘플 중량 총합

In [251]:
# rock_sample 데이터프레임의 'Mission' 컬럼을 기준으로 그룹으로 나눈다 -> groupby()
# 나누어진 그룹에서 'weight (kg)' 컬럼의 총합을 구한다 -> groupby('Mission')['weight (kg)].sum()
# 결국 아폴로 달탐사 임무별로 수집해온 암석 샘플 총중량을 구해서 새로운 변수에 할당한다. -> 이 변수는 시리즈이다.
sample_total_weight = rock_sample.groupby('Mission')['Weight (kg)'].sum()
sample_total_weight
# rock_sample.groupby('Mission')['Weight (kg)'].min()
# rock_sample.groupby('Mission')['Weight (kg)'].max()

Mission
Apollo11     21.55424
Apollo12     34.34238
Apollo14     41.83363
Apollo15     75.39910
Apollo16     92.46262
Apollo17    109.44402
Name: Weight (kg), dtype: float64

In [252]:
sample_total_weight.values

array([ 21.55424,  34.34238,  41.83363,  75.3991 ,  92.46262, 109.44402])

In [253]:
# missions 데이터프레임과 sample_total_weight 시리즈를 병합한다.
# 같은 방법이다.
# missions['Weight (kg)'] = sample_total_weight.values
# missions = pd.merge(missions, sample_total_weight, on='Mission')
# missions.drop(columns='Weight (kg)_y', inplace=True)
missions

    Mission
0  Apollo11
1  Apollo12
2  Apollo14
3  Apollo15
4  Apollo16
5  Apollo17

In [254]:
# 컬럼명을 'Weight (kg)' 을 'Sample weight (kg)'으로 변경한다.
missions.rename(columns={'Weight (kg)':'Sample weight (kg)'}, inplace=True)
missions

    Mission
0  Apollo11
1  Apollo12
2  Apollo14
3  Apollo15
4  Apollo16
5  Apollo17

In [255]:
# 임무간 중량 차이 구하기
missions['Sample weight (kg)'].diff()

KeyError: 'Sample weight (kg)'

In [256]:
# 아폴로 임무간의 수집해온 암석 샘플 총중량 차이를 나타내는 컬럼 'Weight diff'를 missions 데이터프레임에 추가
missions['Weight diff'] = missions['Sample weight (kg)'].diff()
missions

KeyError: 'Sample weight (kg)'

In [257]:
# 아폴로 11은 그 전 달탐사가 없어 NaN 값을 가지므로 결측치 0으로 채우기
missions.fillna(value=0, inplace=True)
# missions = missions.fillna(0)
missions

    Mission
0  Apollo11
1  Apollo12
2  Apollo14
3  Apollo15
4  Apollo16
5  Apollo17

In [259]:
# 달탐사선 = 달모듈 + 명령모듈 --> 이 둘을 합쳐서 승무원 모듈
# 달 모듈의 이름, 중량 컬럼을 missions 데이터프레임에 추가
missions['Lunar module (LM)'] = ['Eagle (LM-5)', 'Intrepid (LM-6)', 'Antares (LM-8)', 'Falcon (LM-10)', 'Orion (LM-11)', 'Challenger (LM-12)']
missions['LM mass (kg)'] = [15103, 15235, 15264, 16430, 16445, 16456]
missions

    Mission   Lunar module (LM)  LM mass (kg)
0  Apollo11        Eagle (LM-5)         15103
1  Apollo12     Intrepid (LM-6)         15235
2  Apollo14      Antares (LM-8)         15264
3  Apollo15      Falcon (LM-10)         16430
4  Apollo16       Orion (LM-11)         16445
5  Apollo17  Challenger (LM-12)         16456

In [260]:
# 아폴로 임무별로 달모듈 중량 차이를 구해서 새로운 컬럼 'LM mass diff'를 만들어서  missions 데이터프레임에 추가
missions['LM mass diff'] = missions['LM mass (kg)'].diff()
missions

    Mission   Lunar module (LM)  LM mass (kg)  LM mass diff
0  Apollo11        Eagle (LM-5)         15103           NaN
1  Apollo12     Intrepid (LM-6)         15235         132.0
2  Apollo14      Antares (LM-8)         15264          29.0
3  Apollo15      Falcon (LM-10)         16430        1166.0
4  Apollo16       Orion (LM-11)         16445          15.0
5  Apollo17  Challenger (LM-12)         16456          11.0

In [261]:
# 결측치가 있다면 0으로 채우기
missions.fillna(value=0, inplace=True)
missions

    Mission   Lunar module (LM)  LM mass (kg)  LM mass diff
0  Apollo11        Eagle (LM-5)         15103           0.0
1  Apollo12     Intrepid (LM-6)         15235         132.0
2  Apollo14      Antares (LM-8)         15264          29.0
3  Apollo15      Falcon (LM-10)         16430        1166.0
4  Apollo16       Orion (LM-11)         16445          15.0
5  Apollo17  Challenger (LM-12)         16456          11.0

In [262]:
#명령모듈의 이름, 중량 컬럼을 missionms 데이터프레임에 추가
명령모듈이름 = ['Columbia (CSM-107]', 'Yankee Clipper (CM-100])', 'Kitty Hawk (CM-110)', 'Endeavor (CM-112)', 'Casper (CM-113)', 'America (CM-114)']
명령모듈중량 = [5560, 5609, 5758, 5875, 5840, 5960]

missions['Command Module (CM)'] = 명령모듈이름
missions['CM Mass (kg)'] = 명령모듈중량

missions

,Mission,Lunar module (LM),LM mass (kg),LM mass diff,Command Module (CM),CM Mass (kg)
0,Apollo11,Eagle (LM-5),15103,0.0,Columbia (CSM-107],5560
1,Apollo12,Intrepid (LM-6),15235,132.0,Yankee Clipper (CM-100]),5609
2,Apollo14,Antares (LM-8),15264,29.0,Kitty Hawk (CM-110),5758
3,Apollo15,Falcon (LM-10),16430,1166.0,Endeavor (CM-112),5875
4,Apollo16,Orion (LM-11),16445,15.0,Casper (CM-113),5840
5,Apollo17,Challenger (LM-12),16456,11.0,America (CM-114),5960

In [263]:
#임무간 명령 모듈 중량 차이 구하기기
#아폴로 임무별로 명령모듈 중량 차이를 구해서 새로운 컬럼 'CM Mass diff'를 만들어 missions 데이터프레임에 추가
missions['CM Mass diff'] = missions['CM Mass (kg)'].diff()
missions.fillna(value=0, inplace=True)
missions

,Mission,Lunar module (LM),LM mass (kg),LM mass diff,Command Module (CM),CM Mass (kg),CM Mass diff
0,Apollo11,Eagle (LM-5),15103,0.0,Columbia (CSM-107],5560,0.0
1,Apollo12,Intrepid (LM-6),15235,132.0,Yankee Clipper (CM-100]),5609,49.0
2,Apollo14,Antares (LM-8),15264,29.0,Kitty Hawk (CM-110),5758,149.0
3,Apollo15,Falcon (LM-10),16430,1166.0,Endeavor (CM-112),5875,117.0
4,Apollo16,Orion (LM-11),16445,15.0,Casper (CM-113),5840,-35.0
5,Apollo17,Challenger (LM-12),16456,11.0,America (CM-114),5960,120.0

In [264]:
# 승무원영역 = 달모듈 + 명령모듈
# 달 모듈과 명령모듈 중량을 합한 값을 'Total weight (kg)'라는 새로운 컬럼을 만들어 missions 데이터프레임에 추가
missions['Total weight (kg)'] = missions['LM mass (kg)'] + missions['CM Mass (kg)']
missions

,Mission,Lunar module (LM),LM mass (kg),LM mass diff,Command Module (CM),CM Mass (kg),CM Mass diff,Total weight (kg)
0,Apollo11,Eagle (LM-5),15103,0.0,Columbia (CSM-107],5560,0.0,20663
1,Apollo12,Intrepid (LM-6),15235,132.0,Yankee Clipper (CM-100]),5609,49.0,20844
2,Apollo14,Antares (LM-8),15264,29.0,Kitty Hawk (CM-110),5758,149.0,21022
3,Apollo15,Falcon (LM-10),16430,1166.0,Endeavor (CM-112),5875,117.0,22305
4,Apollo16,Orion (LM-11),16445,15.0,Casper (CM-113),5840,-35.0,22285
5,Apollo17,Challenger (LM-12),16456,11.0,America (CM-114),5960,120.0,22416

In [265]:
# 승무원 영역을 나타내는 'Total weight (kg)'의 아폴로 임무별 중량 차이를 구하는 새로운 컬럼 'Total weight diff'를 missions 데이터프레임에 추가
missions['Total weight diff'] = missions['Total weight (kg)'].diff()
missions.fillna(value=0, inplace=True)
missions

,Mission,Lunar module (LM),LM mass (kg),LM mass diff,Command Module (CM),CM Mass (kg),CM Mass diff,Total weight (kg),Total weight diff
0,Apollo11,Eagle (LM-5),15103,0.0,Columbia (CSM-107],5560,0.0,20663,0.0
1,Apollo12,Intrepid (LM-6),15235,132.0,Yankee Clipper (CM-100]),5609,49.0,20844,181.0
2,Apollo14,Antares (LM-8),15264,29.0,Kitty Hawk (CM-110),5758,149.0,21022,178.0
3,Apollo15,Falcon (LM-10),16430,1166.0,Endeavor (CM-112),5875,117.0,22305,1283.0
4,Apollo16,Orion (LM-11),16445,15.0,Casper (CM-113),5840,-35.0,22285,-20.0
5,Apollo17,Challenger (LM-12),16456,11.0,America (CM-114),5960,120.0,22416,131.0

In [266]:
# 페이로드에서 승무원 영역이 차지하는 비율 구하기 -> 'Crewed area : Payload'
saturnVPayload = 43500
missions['Crewed area : Payload'] = missions['Total weight (kg)'] / saturnVPayload
missions

,Mission,Lunar module (LM),LM mass (kg),LM mass diff,Command Module (CM),CM Mass (kg),CM Mass diff,Total weight (kg),Total weight diff,Crewed area : Payload
0,Apollo11,Eagle (LM-5),15103,0.0,Columbia (CSM-107],5560,0.0,20663,0.0,0.475011
1,Apollo12,Intrepid (LM-6),15235,132.0,Yankee Clipper (CM-100]),5609,49.0,20844,181.0,0.479172
2,Apollo14,Antares (LM-8),15264,29.0,Kitty Hawk (CM-110),5758,149.0,21022,178.0,0.483264
3,Apollo15,Falcon (LM-10),16430,1166.0,Endeavor (CM-112),5875,117.0,22305,1283.0,0.512759
4,Apollo16,Orion (LM-11),16445,15.0,Casper (CM-113),5840,-35.0,22285,-20.0,0.512299
5,Apollo17,Challenger (LM-12),16456,11.0,America (CM-114),5960,120.0,22416,131.0,0.515310

In [267]:
# 승무원 영역에서 암석 샘플이 차지하는 비율 구하기 -> 'Sample : Crewed area'
missions['Sample : Crewed area'] = missions['Sample weight (kg)'] / missions['Total weight (kg)']
missions

KeyError: 'Sample weight (kg)'

In [268]:
# 페이로드에서 샘플이 차지하는 비율 구하기 -> 'Sample : Payload'
missions['Sample : Payload'] = missions['Sample weight (kg)'] / saturnVPayload
missions

KeyError: 'Sample weight (kg)'

In [269]:
# 페이로드(saturnVPayload) = 승무원 영역, 장비 등 로켓 안에 실리는 물건 하중 합
# 승무원 영역 = 달 모듈 + 명령 모듈 (전체에 암석 샘플 무게도 포함됨)
# 승무원 영역 하중 - Total weight (kg)
# 암석 샘플 하중 - Sample weight (kg)

# 페이로드에서 승무원이 차지하는 비율(Crewed area: Payload) = 승무원 영역 하중 / 페이로드(전체 하중)
# 승무원 영역에서 암석 샘플이 차지하는 비율(Sample : Crewed area) = 암석 샘플 하중 / 승무원 영역 하중
# 페이로드에서 샘플이 차지하는 비율 (Sample : Payload) = 암석 샘플 하중 / 페이로드(전체 하중)

## artemis_mission 데이터프레임 만들기

In [270]:
artemis_crewedArea = 26520

artemis_dict = {'Mission' : ['artemis1', 'artemis1b', 'artemis2'],
                'Total weight (kg)' : [artemis_crewedArea, artemis_crewedArea, artemis_crewedArea],
                'Payload (kg)' : [26988, 37965, 42955]
               }

#딕셔너리를 데이터 프레임으로 저장하기
artemis_mission  = pd.DataFrame(artemis_dict)
artemis_mission

     Mission  Total weight (kg)  Payload (kg)
0   artemis1              26520         26988
1  artemis1b              26520         37965
2   artemis2              26520         42955

In [271]:
# missions 데이터프레임에서 'Crewed area : Payload', 'Sample : Crewed area', 'Sample : Payload' 의 평균값을 구한다.
CrewedArea_Payload_ratio = missions['Crewed area : Payload'].sample_weight_kg__mean()
Sample_Crewed_ratio = missions['Sample : Crewed area'].sample_weight_kg__mean()
Sample_Payload_ratio = missions['Sample : Payload'].sample_weight_kg__mean()

print(CrewedArea_Payload_ratio)
print(Sample_Crewed_ratio)
print(Sample_Payload_ratio)

KeyError: 'Sample : Crewed area'

In [272]:
# missions 데이터프레임에서 'Sample weight (kg)'의 총합을 구한다.
sample_weight_kg__sum = missions['Sample weight (kg)'].sum()
print(sample_weight_kg__sum)

KeyError: 'Sample weight (kg)'

In [273]:
#artemis_missions 데이터 프레임에 'Sample weight from total (kg)' 컬럼을 추가한다.
artemis_mission['Sample weight from total (kg)'] = Sample_Crewed_ratio * artemis_mission['Total weight (kg)']
artemis_mission

     Mission  Total weight (kg)  Payload (kg)  Sample weight from total (kg)
0   artemis1              26520         26988                      75.549232
1  artemis1b              26520         37965                      75.549232
2   artemis2              26520         42955                      75.549232

In [274]:
#artemis_mission 데이터프레임에 'Sample weight from payload (kg)' 컬럼을 추가한다.
artemis_mission['Sample weight from payload (kg)'] = Sample_Payload_ratio * artemis_mission['Payload (kg)']
artemis_mission

,Mission,Total weight (kg),Payload (kg),Sample weight from total (kg),Sample weight from payload (kg)
0,artemis1,26520,26988,75.549232,38.779584
1,artemis1b,26520,37965,75.549232,54.552649
2,artemis2,26520,42955,75.549232,61.722877

In [275]:
# artemis_mission 데이터프레임에 'Estimated sample weight (kg)' 컬럼을 추가한다.
artemis_mission['Estimated sample weight (kg)'] = (artemis_mission['Sample weight from payload (kg)'] + artemis_mission['Sample weight from total (kg)']) / 2
artemis_mission

,Mission,Total weight (kg),Payload (kg),Sample weight from total (kg),Sample weight from payload (kg),Estimated sample weight (kg)
0,artemis1,26520,26988,75.549232,38.779584,57.164408
1,artemis1b,26520,37965,75.549232,54.552649,65.050940
2,artemis2,26520,42955,75.549232,61.722877,68.636054

##아르테미스 임무에서 가져올 암석 종류 구하기

In [276]:
# rock_sample의 5개 정보 확인하기
rock_sample.head()

      ID   Mission    Type   Subtype  Weight (kg)  Pristine (%)
0  10001  Apollo11    Soil  Unsieved       0.1258         88.36
1  10002  Apollo11    Soil  Unsieved       5.6290         93.73
2  10003  Apollo11  Basalt  Ilmenite       0.2130         65.56
3  10004  Apollo11    Core  Unsieved       0.0448         71.76
4  10005  Apollo11    Core  Unsieved       0.0534         40.31

In [277]:
# rock_sample 데이터프레임에 암석샘플의 남은 양을 나타내는 'Remaining (kg)' 컬럼추가
rock_sample['Remaining (kg)'] = rock_sample['Pristine (%)'] / 100 * rock_sample['Weight (kg)']
rock_sample

,ID,Mission,Type,Subtype,Weight (kg),Pristine (%),Remaining (kg)
0,10001,Apollo11,Soil,Unsieved,0.12580,88.36,0.111157
1,10002,Apollo11,Soil,Unsieved,5.62900,93.73,5.276062
2,10003,Apollo11,Basalt,Ilmenite,0.21300,65.56,0.139643
3,10004,Apollo11,Core,Unsieved,0.04480,71.76,0.032148
4,10005,Apollo11,Core,Unsieved,0.05340,40.31,0.021526
...,...,...,...,...,...,...,...
2224,79528,Apollo17,Breccia,Regolith,0.00238,100.00,0.002380
2225,79529,Apollo17,Breccia,Regolith,0.00184,100.00,0.001840
2226,79535,Apollo17,Breccia,Regolith,0.00169,100.00,0.001690
2227,79536,Apollo17,Breccia,Regolith,0.00166,100.00,0.001660
2228,79537,Apollo17,Breccia,Regolith,0.00105,100.00,0.001050

In [278]:
# rock_sample 수치데이터 요약 통계 확인
rock_sample.describe()

                 ID  Weight (kg)  Pristine (%)  Remaining (kg)
count   2229.000000  2229.000000   2229.000000     2229.000000
mean   52058.432032     0.168253     84.512764        0.138103
std    26207.651471     0.637286     22.057299        0.525954
min    10001.000000     0.000000      0.000000        0.000000
25%    15437.000000     0.003000     80.010000        0.002432
50%    65527.000000     0.010200     92.300000        0.008530
75%    72142.000000     0.093490     98.140000        0.078240
max    79537.000000    11.729000    180.000000       11.169527

In [279]:
# rock_sample['Weight (kg)']의 모든 값이 0.16kg 이상 인지 확인
rock_sample['Weight (kg)'] >= 0.16

0       False
1        True
2        True
3       False
4       False
        ...
2224    False
2225    False
2226    False
2227    False
2228    False
Name: Weight (kg), Length: 2229, dtype: bool

In [280]:
# rock_sample['Weight (kg)']이 0.16kg 이상 이면서 rock_sample['Pristine (%)']이 50 이하인지 확인
rock_sample[(rock_sample['Weight (kg)'] >= 0.16) & (rock_sample['Pristine (%)'] <= 50)]

,ID,Mission,Type,Subtype,Weight (kg),Pristine (%),Remaining (kg)
11,10017,Apollo11,Basalt,Ilmenite,0.9730,43.71,0.425298
14,10020,Apollo11,Basalt,Ilmenite,0.4250,27.88,0.118490
15,10021,Apollo11,Breccia,Regolith,0.2500,30.21,0.075525
29,10045,Apollo11,Basalt,Olivine,0.1850,12.13,0.022441
37,10057,Apollo11,Basalt,Ilmenite,0.9190,35.15,0.323028
39,10059,Apollo11,Breccia,Regolith,0.1880,36.94,0.069447
52,10072,Apollo11,Basalt,Ilmenite,0.4470,15.22,0.068033
59,10086,Apollo11,Soil,Unsieved,0.8230,0.01,0.000082
68,12002,Apollo12,Basalt,Olivine,1.5300,49.04,0.750312
69,12003,Apollo12,Soil,Unsieved,0.3000,28.52,0.085560
72,12006,Apollo12,Basalt,Olivine,0.2064,0.53,0.001094
94,12028,Apollo12,Core,Unsieved,0.1896,27.56,0.052254
113,12047,Apollo12,Basalt,Ilmenite,0.1930,33.70,0.065041
118,12053,Apollo12,Basalt,Pigeonite,0.8790,46.43,0.408120
120,12055,Apollo12,Basalt,Pigeonite,0.9120,26.00,0.237120
353,15012,Apollo15,Soil,Unsieved,0.3122,5.77,0.018014
354,15013,Apollo15,Soil,Unsieved,0.2962,8.80,0.026066
426,15205,Apollo15,Breccia,Regolith,0.3373,24.70,0.083313
534,15405,Apollo15,Breccia,ImpactMelt,0.5131,35.91,0.184254
570,15475,Apollo15,Basalt,Pigeonite,0.4068,49.60,0.201773
575,15498,Apollo15,Breccia,Regolith,2.3400,34.11,0.798174
607,15555,Apollo15,Basalt,Olivine,9.6140,46.61,4.481085
718,60016,Apollo16,Breccia,Fragmental,4.3070,49.57,2.134980
722,60025,Apollo16,Breccia,Anorthosite,1.8360,43.61,0.800680
1221,66075,Apollo16,Breccia,Fragmental,0.3471,32.97,0.114439
1645,71566,Apollo17,Basalt,Ilmenite,0.4144,45.06,0.186729
2183,79155,Apollo17,Basalt,Ilmenite,0.3188,25.97,0.082792

In [281]:
#위의 두 조건을 모두 만족하는 행만 추출해서 low_samples라는 데이터 프레임을 만든다.
low_samples = rock_sample[(rock_sample['Weight (kg)'] >= 0.16) & (rock_sample['Pristine (%)'] <= 50)]
low_samples.tail()

,ID,Mission,Type,Subtype,Weight (kg),Pristine (%),Remaining (kg)
718,60016,Apollo16,Breccia,Fragmental,4.3070,49.57,2.134980
722,60025,Apollo16,Breccia,Anorthosite,1.8360,43.61,0.800680
1221,66075,Apollo16,Breccia,Fragmental,0.3471,32.97,0.114439
1645,71566,Apollo17,Basalt,Ilmenite,0.4144,45.06,0.186729
2183,79155,Apollo17,Basalt,Ilmenite,0.3188,25.97,0.082792

In [282]:
low_samples.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27 entries, 11 to 2183
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              27 non-null     int64
 1   Mission         27 non-null     object
 2   Type            27 non-null     object
 3   Subtype         27 non-null     object
 4   Weight (kg)     27 non-null     float64
 5   Pristine (%)    27 non-null     float64
 6   Remaining (kg)  27 non-null     float64
dtypes: float64(3), int64(1), object(3)
memory usage: 1.7+ KB

In [283]:
low_samples.Type.unique()
rock_sample.Type.unique()

array(['Soil', 'Basalt', 'Core', 'Breccia', 'Special', 'Crustal'],
      dtype=object)

In [284]:
# low_samples 데이터프레임에서 암석유형('Type')별로 개수를 센다.
low_samples.Type.value_counts()

Type
Basalt     14
Breccia     8
Soil        4
Core        1
Name: count, dtype: int64

In [285]:
#low_samples['Type']의 값이 'Basalt'이거나 'Breccia' 인지 확인 -> isin(리스트)
low_samples.Type.isin(['Basalt', 'Breccia'])

11       True
14       True
15       True
29       True
37       True
39       True
52       True
59      False
68       True
69      False
72       True
94      False
113      True
118      True
120      True
353     False
354     False
426      True
534      True
570      True
575      True
607      True
718      True
722      True
1221     True
1645     True
2183     True
Name: Type, dtype: bool

In [286]:
# low_samples['Type'] 의 값이 'Basalt'이거나 'Breccia'인 행만 추출해서 needed_samples 데이터프레임 만들기
needed_samples = low_samples[low_samples.Type.isin(['Basalt', 'Breccia'])]
needed_samples.head()

,ID,Mission,Type,Subtype,Weight (kg),Pristine (%),Remaining (kg)
11,10017,Apollo11,Basalt,Ilmenite,0.973,43.71,0.425298
14,10020,Apollo11,Basalt,Ilmenite,0.425,27.88,0.118490
15,10021,Apollo11,Breccia,Regolith,0.250,30.21,0.075525
29,10045,Apollo11,Basalt,Olivine,0.185,12.13,0.022441
37,10057,Apollo11,Basalt,Ilmenite,0.919,35.15,0.323028

In [287]:
# needed_samples 정보확인
needed_samples.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22 entries, 11 to 2183
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              22 non-null     int64
 1   Mission         22 non-null     object
 2   Type            22 non-null     object
 3   Subtype         22 non-null     object
 4   Weight (kg)     22 non-null     float64
 5   Pristine (%)    22 non-null     float64
 6   Remaining (kg)  22 non-null     float64
dtypes: float64(3), int64(1), object(3)
memory usage: 1.4+ KB

In [288]:
# needed_samples 데이터프레임에서 'Type'으로 groupby해서 암석 샘플의 총중량의 합을 구한다
needed_samples.groupby('Type')['Weight (kg)'].sum()

Type
Basalt     17.4234
Breccia    10.1185
Name: Weight (kg), dtype: float64

In [289]:
# rock_sample 데이터프레임에서 'Type'으로 groupby 해서 암석 샘플의 중량의 합을 구한다. 
#           -> 아폴로 임무에서 처음부터 수집이 안된 암석을 구한다.
rock_sample.groupby('Type')['Weight (kg)'].sum()

Type
Basalt      93.14077
Breccia    168.88075
Core        19.93587
Crustal      4.74469
Soil        87.58981
Special      0.74410
Name: Weight (kg), dtype: float64

In [290]:
rock_sample['Type'] == 'Crustal'

0       False
1       False
2       False
3       False
4       False
        ...
2224    False
2225    False
2226    False
2227    False
2228    False
Name: Type, Length: 2229, dtype: bool

In [291]:
# rock_sample에서 'Type'이 'Crustal'. 인 행만 추출한다.
crustal_rock_samples = rock_sample[rock_sample['Type'] == 'Crustal']
crustal_rock_samples.info()
crustal_rock_samples.head()

<class 'pandas.core.frame.DataFrame'>
Index: 46 entries, 497 to 2189
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              46 non-null     int64
 1   Mission         46 non-null     object
 2   Type            46 non-null     object
 3   Subtype         46 non-null     object
 4   Weight (kg)     46 non-null     float64
 5   Pristine (%)    46 non-null     float64
 6   Remaining (kg)  46 non-null     float64
dtypes: float64(3), int64(1), object(3)
memory usage: 2.9+ KB

,ID,Mission,Type,Subtype,Weight (kg),Pristine (%),Remaining (kg)
497,15361,Apollo15,Crustal,Cataclastic,0.0009,66.56,0.000599
498,15362,Apollo15,Crustal,Cataclastic,0.0042,56.88,0.002389
499,15363,Apollo15,Crustal,Cataclastic,0.0005,71.00,0.000355
540,15415,Apollo15,Crustal,Anorthosite,0.2694,67.07,0.180687
557,15437,Apollo15,Crustal,Anorthosite,0.0010,80.00,0.000800

In [292]:
# needed_samples에 crustal을 추가한다.
# merge 대신 axis=1 하면 옆으로 붙음
needed_samples = pd.concat([needed_samples, crustal_rock_samples])
needed_samples.info()

<class 'pandas.core.frame.DataFrame'>
Index: 68 entries, 11 to 2189
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              68 non-null     int64
 1   Mission         68 non-null     object
 2   Type            68 non-null     object
 3   Subtype         68 non-null     object
 4   Weight (kg)     68 non-null     float64
 5   Pristine (%)    68 non-null     float64
 6   Remaining (kg)  68 non-null     float64
dtypes: float64(3), int64(1), object(3)
memory usage: 4.2+ KB

In [293]:
needed_samples.info()

<class 'pandas.core.frame.DataFrame'>
Index: 68 entries, 11 to 2189
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              68 non-null     int64
 1   Mission         68 non-null     object
 2   Type            68 non-null     object
 3   Subtype         68 non-null     object
 4   Weight (kg)     68 non-null     float64
 5   Pristine (%)    68 non-null     float64
 6   Remaining (kg)  68 non-null     float64
dtypes: float64(3), int64(1), object(3)
memory usage: 4.2+ KB

In [294]:
needed_samples.Type.unique()

array(['Basalt', 'Breccia', 'Crustal'], dtype=object)

In [295]:
needed_samples['Type'].unique()

array(['Basalt', 'Breccia', 'Crustal'], dtype=object)

## needed samples overview 만들기

In [299]:
## 아르테미스 임무에 전달할 최종 데이터프레임 needed_samples_overview 만든다.
needed_samples_overview = pd.DataFrame()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Empty DataFrame

In [301]:
# needed samples 데이터프레임에서 중복되지 않은 암석유형을 추출한다.
needed_samples_overview['Type'] = needed_samples.Type.unique()
needed_samples_overview

      Type
0   Basalt
1  Breccia
2  Crustal

In [302]:
# needed_samples 데이터프레임에서 암석유형별('Type') 중량 합을 구한다.
needed_samples.groupby('Type')['Weight (kg)'].sum()

Type
Basalt     17.42340
Breccia    10.11850
Crustal     4.74469
Name: Weight (kg), dtype: float64

In [303]:
needed_sample_weight = needed_samples.groupby('Type')['Weight (kg)'].sum().reset_index()
needed_sample_weight

      Type  Weight (kg)
0   Basalt     17.42340
1  Breccia     10.11850
2  Crustal      4.74469

In [310]:
# 두 데이터프레임을 병합한다.
# needed_samples_overview = pd.merge(needed_samples_overview, needed_sample_weight, on='Type')
needed_samples_overview

      Type  Weight (kg)
0   Basalt     17.42340
1  Breccia     10.11850
2  Crustal      4.74469

In [311]:
# 컬럼명을 변경 'Weight (kg)' -> 'Total weight (kg)'
needed_samples_overview.rename(columns={'Weight (kg)' : 'Total weight (kg)'}, inplace=True)
needed_samples_overview

      Type  Total weight (kg)
0   Basalt           17.42340
1  Breccia           10.11850
2  Crustal            4.74469

In [313]:
# needed_samples 데이터프레임에서 암석유형별 중량의 평균을 구한다.
needed_samples.groupby('Type')['Weight (kg)'].mean()

Type
Basalt     1.244529
Breccia    1.264813
Crustal    0.103145
Name: Weight (kg), dtype: float64

In [314]:
# 두 데이터프레임을 병합한다.
needed_samples_overview = pd.merge(needed_samples_overview, needed_samples.groupby('Type')['Weight (kg)'].mean(), on='Type')
needed_samples_overview

      Type  Total weight (kg)  Weight (kg)
0   Basalt           17.42340     1.244529
1  Breccia           10.11850     1.264813
2  Crustal            4.74469     0.103145

In [315]:
# 컬럼명을 변경 'Weight (kg)' -> 'Average weight (kg)'
needed_samples_overview.rename(columns={'Weight (kg)' : 'Average weight (kg)'}, inplace=True)
needed_samples_overview

      Type  Total weight (kg)  Average weight (kg)
0   Basalt           17.42340             1.244529
1  Breccia           10.11850             1.264813
2  Crustal            4.74469             0.103145

In [317]:
# rock_sample 데이터프레임에서 암석유형별('Type') 개수를 구해서 total_rock_count 라는 데이터프레임을 만든다.
total_rock_count = rock_sample.groupby('Type')['ID'].count()
total_rock_count

Type
Basalt     351
Breccia    959
Core        56
Crustal     46
Soil       813
Special      4
Name: ID, dtype: int64

In [319]:
# 두 데이터프레임을 병합한다.
# needed_samples_overview = pd.merge(needed_samples_overview, total_rock_count, on='Type')
needed_samples_overview

      Type  Total weight (kg)  Average weight (kg)   ID
0   Basalt           17.42340             1.244529  351
1  Breccia           10.11850             1.264813  959
2  Crustal            4.74469             0.103145   46

In [320]:
# 컬럼명을 변경한다. 'ID' -> 'Number of samples'

needed_samples_overview.rename(columns={'ID' : 'Number of samples'}, inplace=True)
needed_samples_overview

      Type  Total weight (kg)  Average weight (kg)  Number of samples
0   Basalt           17.42340             1.244529                351
1  Breccia           10.11850             1.264813                959
2  Crustal            4.74469             0.103145                 46

In [329]:
# needed_samples_overview['Number of samples'] 의 총합을 구하고 total_rocks에 할당
total_rocks = needed_samples_overview['Number of samples'].sum()
total_rocks

np.int64(1356)

In [323]:
# 각 암석유형별로 차지하는 비율을 구해서 'Percentage of rocks'라는 컬럼에 할당한다.
needed_samples_overview['Percentage of rocks'] = needed_samples_overview['Number of samples'] / total_rocks
needed_samples_overview

,Type,Total weight (kg),Average weight (kg),Number of samples,Percentage of rocks
0,Basalt,17.42340,1.244529,351,0.258850
1,Breccia,10.11850,1.264813,959,0.707227
2,Crustal,4.74469,0.103145,46,0.033923

In [322]:
artemis_mission

,Mission,Total weight (kg),Payload (kg),Sample weight from total (kg),Sample weight from payload (kg),Estimated sample weight (kg)
0,artemis1,26520,26988,75.549232,38.779584,57.164408
1,artemis1b,26520,37965,75.549232,54.552649,65.050940
2,artemis2,26520,42955,75.549232,61.722877,68.636054

In [335]:
# artemis_mission['Estimated sample weight (kg)']의 평균을 구해서 Artemis 달탐사의 에상 암석 중량을 구한다.
artemis_mean = artemis_mission['Estimated sample weight (kg)'].mean()
artemis_mean

np.float64(63.61713411579792)

In [338]:
# needed_samples_overview['Weight to collect'] 컬럼을 만든다.
needed_samples_overview['Weight to collect'] = needed_samples_overview['Percentage of rocks'] * artemis_mean
needed_samples_overview

,Type,Total weight (kg),Average weight (kg),Number of samples,Percentage of rocks,Weight to collect,Rocks to collect
0,Basalt,17.42340,1.244529,351,0.258850,16.467267,45.932580
1,Breccia,10.11850,1.264813,959,0.707227,44.991764,51.431291
2,Crustal,4.74469,0.103145,46,0.033923,2.158103,665.429882

In [339]:
# 수집할 각각의 암석 개수를 알려준다.
needed_samples_overview['Rocks to collect'] = needed_samples_overview['Weight to collect'] / needed_samples_overview['Average weight (kg)']
needed_samples_overview

,Type,Total weight (kg),Average weight (kg),Number of samples,Percentage of rocks,Weight to collect,Rocks to collect
0,Basalt,17.42340,1.244529,351,0.258850,16.467267,13.231731
1,Breccia,10.11850,1.264813,959,0.707227,44.991764,35.571884
2,Crustal,4.74469,0.103145,46,0.033923,2.158103,20.922917

[김유림의 결론]

Type    :   collect   : weight
Basalt  :     13      :   16
Breccia :     35      :   44
Crustal :     20      :   2